.descritivo{
    display: flex;
    justify-content: center;
    padding: 55px 0;
    margin-top: 25px;
}



.titulo{
    text-align: center;
    padding: 40px 0;
    color: #dc8924;
    font-family: sans-serif;
    font-weight: bold;
}

.texto{
    padding: 10px 120px;
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
}